.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  
  
  // Margin & padding classes
  $spaceamounts: (1,2,3,4,5);
  
  @each $space in $spaceamounts {
    .m-#{$space} {
      margin: #{$space}rem;
    }
    .my-#{$space} {
      margin: #{$space}rem 0;
    }
  
    .p-#{$space} {
      padding: #{$space}rem;
    }
    .py-#{$space} {
      padding: #{$space}rem 0;
    }
  }


  .alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }